# node js dependencies
node_modules/
coverage/
# editor files
.vscode/
# distribution directories
dist/
# Mac Files
.DS_Store
# lock dependence
package-lock.json
yarn.lock
# environment variables
.env
